@model movieproject1.Models.tbltheatre

@{
    ViewBag.Title = "edittheatre";
}

<h2>edittheatre</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbltheatre</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.theatreid)

        <div class="form-group">
            @Html.LabelFor(model => model.theatre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.theatre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.theatre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.locid, "locid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.locid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.locid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
